	* {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	ol, ul {
		list-style: none;
	}

	body {
		height: 100vh;
		font-family: century gothic;
		background: -webkit-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(28,28,28,1) 100%);
 }

	h1, h2, h3, h4, h5, h6 {
		color: #f2f2f2;
		font-family: "Century Gothic", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 1em;}
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px;}
	h4 { font-size: 21px; line-height: 30px; margin: .5em 0 .5em;}
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p {
		margin: 0 0 20px 0;
		font-size:14px;
		color: #f2f2f2;
	}



	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }
